a { color: #888; }

.container .title-header { color: #999; }

.sidebar > .nav { background: #fff; }
.sidebar > .nav > li > h4 a:hover { background: #eee; }
.sidebar > .nav > li.active > h4 a { background: #999; color: #fff; }
.sidebar > .nav > li > h5 { color: #999; }
.sidebar > .nav ul li > i { background: #999; }

.sidebar.right h5 { color: #999; }

.sidebar .title-nav { color: #999; }

.header.scroll { background: #fff; }
.header.scroll .searchbar .basket, .header.scroll .searchbar .wishlist { background: #eee; }
.header.scroll .searchbar .wishlist { background: #fff4f7; }

.searchbar .search { background: #fff; border-color: #e0e0e0; }
.searchbar .search .search-btn i { color: #333; }

.nav-top { background: #333; }
.nav-top a { color: #fff; }

.userbar .split { background: #888; }
.userbar > span { color: #888; }

.searchbar .basket { background: #fff; color: #333; border-color: #ddd; }
.searchbar .basket span, .searchbar .wishlist span { color: #e00; border-color: #e00; }
.searchbar .wishlist { background: #fff4f7; border-color: #ffdee7; }
.searchbar .wishlist i { color: #ff316a; }

.nav-main { background: #fff; border-color: #ddd; }
.nav-main > ul > li.category > a { border-top-color: #999; }
.nav-main > ul > li > a:hover, .nav-main > ul > li.active > a { border-top-color: #999; }
.nav-main > ul > li.category > a:hover, .nav-main > ul > li.category.active > a { background: #999; }

.nav-toggle { background: #999; }
.nav-toggle i { color: #fff; }

.nav-sub { background: #fff; }

.inner-nav-sub > li ul .sub-menu.active > a { background: #333; color: #fff; }

.footer { background: #333; color: #ccc; }
.footer .nav-bottom h3 { color: #999; }

.product .product-desc .social a { background: #888; }
.product .product-desc .social a:hover { background: #333; }
.product .product-desc .price { color: #999; }
.product .thumbnails a.active img { border-color: #999; }

.product .product-relation .price { color: #999; }

.add-thumbnail .btn.active .thumbnail { border-color: #78b400; background-color: rgba(255, 255, 255, 0.9); }
.add-thumbnail .btn.active .caption i { color: #78b400; }
.add-thumbnail .btn .caption { background: #fff; }
.add-thumbnail .btn.active .caption i { color: #78b400; }
.add-thumbnail .btn .change { background: rgba(0, 0, 0, 0.5); }

.list-thumbnail .caption .price { color: #666; }

.label-save { background: rgba(204, 0, 0, 0.85); border-color: #f00; }

.option-list { background: #fff; }
.option-list li a { color: #575c62; border-color: #ddd; }
.option-list i { border-color: #777; color: #fff; background: #999; }

.contact-list label { color: #fff; }

.owl-controls .owl-buttons div { background: #999; }
.owl-controls .owl-page span { background: #999; }

.nav-button > li.active > a, .nav-button > li.active > a:hover, .nav-button > li.active > a:focus { background: #999; color: #fff; }

@media (max-width: 767px) {
.product .thumbnails .owl-controls .owl-buttons div { color: #999; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background: #999; color: #fff; }
}

@media (max-width: 540px) {
.nav-main { background: #333; }
.nav-main > ul > li.category > a { background: #999; }
}